.page {
	position: absolute;
	width: 320px;
	min-height: 460px;
}

body {
	overflow-x: hidden;
	width: 320px;
	min-height: 460px;
	font-family: museo, Arial, Helvetica, sans-serif;
	color:white;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smooth:auto;
	font-size: 16px;
	background-color: black;
	margin: 0px;
}

.feed-even {
	width: 320;
	display: block;
	min-height: 4px;
	font: 16px tahoma, arial, helvetica;
	background:#008299 url(http://docs.webmynd.com/en/latest/_static/f/bg-cross-hatching.png) repeat top left;	
	color: white;
	text-shadow: 0 0 0 #fff;
	letter-spacing:1px;
	border-bottom: 1px solid;
	padding: 15px 20px 15px 10px;
	border-color: black;
	font-weight: bold;
}

.feed-odd {
	width: 320;
	display: block;
    min-height: 4px;
    font:16px tahoma, arial, helvetica;
    background-color: #000;
	color:#fff;
    text-shadow: 0 0 0 #fff;
    letter-spacing:1px;
	border-bottom: 1px solid;
	padding: 5px 20px 5px 10px;
	border-color: black;
	padding: 15px 20px 15px 10px;
	font-weight: bold;
}

.date {
	font-style: italic;
	font-weight: normal;
}